<div class="container mx-auto max-w-screen-lg pt-10">
  <div class="text-center flex flex-col space-y-5 mb-10">
    <h1 class="text-8xl font-extrabold">{{ dataUser?.name }}</h1>
    <h3>{{ dataUser?.email }}</h3>
    <h3>{{ dataUser?.phone }}</h3>
  </div>

  <div class="flex space-x-5 justify-center mb-5">
    <!-- Tab 1 -->
    <div *ngFor="let tab of dataTabs">
      <div
        (click)="onOpenTab(tab?.path || '')"
        [ngClass]="{
          'bg-gray-300 hover:bg-gray-200': currentPath !== '/' + tab?.path,
          'bg-green-200 hover:bg-green-300': currentPath === '/' + tab?.path
        }"
        class="cursor-pointer text-center block py-2 px-4 transition-all 300ms rounded"
      >
        {{ tab?.label }}
      </div>
    </div>
  </div>
  <div class="p-10">
    <!-- Konten Tab 1 -->
    <router-outlet></router-outlet>
  </div>
</div>
